body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #7b00ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 40px;
    width: 40px;
}

.login-container{
    display: flex;
    width: 50%;
    height: 70%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.login-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #00d4ff, #3a76ff);
    padding: 40px;
    color: white;
}
.login-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 40px;
    width: 50%;
    background: whitesmoke;
    padding: 40px;
    color: #007bff;
}
form{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 70%;
}
.form-control{
    height:60px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.form-body{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 70%;
    color: #a9a9a9; 
}


.card-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #a9a9a9; 
}
.card-bottom a{
    color: #007bff;
    text-decoration: none;
}
.card-bottom a:hover{
    text-decoration: underline;
}
.login-button{
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    margin-top: 40px;
    height: 60px;
}
.login-button:hover{
    background-color: #0056b3;
}
.login-left footer {
    position: absolute;
    bottom: 20px;
    font-size: 0.9rem;
}