body, head{
    margin: 0;
    padding: 0;
}
ul.topnav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border: 1px solid #e7e7e7;
}
ul.topnav li{
    float: left;
}
ul.topnav li a{
    display: block;
    color: #666666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active){
    background-color: #111111;
}
ul.topnav li a.active{
    background-color: #04aa6d;
    color: white;
}
